.dropdown {
  position: relative;
  display: flex;
  align-items: center;
}

.dropdown-menu {
  position: absolute;
  top: 30px;
  left: 0;
  background: #282C34;
  border: 1px solid #3E4451;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 100;
}

.dropdown-menu a,
.dropdown-menu a:link,
.dropdown-menu a:visited,
.dropdown-menu a:active {
  padding: 6px 12px;
  border-radius: 6px;
  color: #ABB2BF;
  text-decoration: none;
  background: none;
  outline: none;
  display: block;
}

.dropdown-menu a:hover {
  background: #3E4451;
  color: #E5C07B;
}