#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#logo span {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #ffffff;   
  font-weight: 1000;
  font-family: "Special Gothic Expanded One", sans-serif;
}
#logo-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}