* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Geist Mono", monospace;
}

body {
  background-color: #1E2128;
}

button, textarea, input {
  font-family: "Geist Mono", monospace;
}
a, button, p[onClick] {
  cursor: pointer;
}